### Scala ###
*.class
*.log
$*/

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
repo/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#idea
*.iml
*.ipr
*.iws
.idea
out

#Gradle
.gradletasknamecache
.gradle/
build/
bin/

#General
.DS_Store
/.gitignore
amaterasu-executor/
project/project/
